{% extends "base.html" %}
{% block content %}
    <div class="ui container" style="margin-top: 1em;">
        <form class="ui form" method="POST">
            {% csrf_token %}
            
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="ui blue label">
                            Error with field {{ field.name }}: {{ error }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% if form.non_field_errors %}
                    <div class="ui red label">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
            {% endif %}

            <div class="field">
                <label>username</label>
                {{ form.username }}
            </div>
            <div class="field">
                <label>email</label>
                {{ form.email }}
            </div>
            <div class="field">
                <label>Password</label>
                {{ form.password1 }}
            </div>
            <div class="field">
                <label>Password 2</label>
                {{ form.password2 }}
            </div>

            <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
{% endblock content %}
