{% extends "base.html" %}
{% block content %}
    <div class="ui container" style="margin-top: 1em;">
        <h1>Congrats!</h1>
        <h2>You'll learn {{count}} new words.</h2>
        <div class="ui container">
            <a class="ui teal labeled icon button" href="{% url 'subtitles:download_sub' %}"> Download the enchanted subtitle <i class="download icon"></i> </a>
            <a class="ui violet labeled icon button" href="{% url 'subtitles:download_words_list' %}"> Download new words list <i class="download icon"></i> </a>
        </div>
        <div class="ui container">
            <form class="ui form" method="POST">
                {% csrf_token %}
                <div class="inline fields">
                    <div class="eight wide field">
                        <label>Movie Name</label>
                        <input type="text" name="movie_name" placeholder="{{ name }}" text="{{ name }}">
                    </div>
                    <div class="five wide field">
                        <button class="ui button" type="submit">Add Flashcards</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
